commands:
  03_command:
    test: test ! -f /usr/local/bin/wkhtmltopdf
    command: yum -y install fontconfig libXrender libXext xorg-x11-fonts-Type1 xorg-x11-fonts-75dpi freetype libpng zlib libjpeg-turbo openssl icu
  04_command:
    cwd: /tmp
    test: test ! -f /wkhtmltopdf
    command: wget https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-1/wkhtmltox-0.12.6-1.amazonlinux2.x86_64.rpm
  05_command:
    cwd: /tmp
    test: test ! -f /usr/local/bin/wkhtmltopdf
    command: sudo rpm -iUvh wkhtmltox-0.12.6-1.amazonlinux2.x86_64.rpm
  06_command:
    test: test ! -f /usr/local/bin/wkhtmltopdf
    command: cp wkhtmltox/bin/wkhtmltopdf /usr/local/bin/wkhtmltopdf
  07_command:
    test: test ! -f /usr/local/bin/wkhtmltopdf
    command: cp wkhtmltox/bin/wkhtmltoimage /usr/local/bin/wkhtmltoimage
